<div class="container">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <table>
            <tr>
                <td><label for="name">ログインID</label></td>
                <td><input type="text" id="name" required [(ngModel)]="model.loginId" name="name" #name="ngModel">
                    <span [hidden]="name.valid || name.pristine">
                        ログインIDを入力して下さい。
                    </span></td>
            </tr>
            <tr>
                <td><label for="password">パスワード</label></td>
                <td><input type="password" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
                    <span [hidden]="password.valid || password.pristine">
                            パスワードを入力して下さい。
                        </span>
                </td>
            </tr>
        </table>
        <br>
        <button type="submit" [disabled]="!loginForm.form.valid">ログイン</button>
        <br /> {{model.message}}
    </form>
</div>